footer {
  width: 100%;
  height: 20%;
  left:0px;
  bottom:0px;
  background: #1e272e;
  padding: 5px 0px;
  margin-top: 10%;
  color: beige;
}

footer span {
  display: block;
  margin: 3% 0;
  text-align: center;
}

footer .redes {
  width: 100%;
  height: 15%;
  text-align: center;
  margin: 5% 0;
}

.redes a i{
  font-size: 18px;
  text-decoration: none;
  margin: 2%;
  color: beige;

}

.info {
  width: 100%;
}

.info ul {
  width: 90%;
}

.info ul li {
  list-style: none;
  font-size: 16px;
  padding: 5%;
}

.map {
  width: 100%;
}

iframe {
  width: 90%;
  height: 350px;
  border: 0;
  display: block;
  margin: 0 5%;
}

