<footer>
  <span><strong>&copy; 2019 - IBPR - M. Amigos de Jesús</strong></span><br>
  <div class="redes">
    <a href="https://www.facebook.com/iglesiabautistapanambireta" class="icon-facebook"><i
        class="icofont-facebook"></i></a>
    <a href="http://twitter.com" class="icon-twitter redes"><i class="icofont-twitter"></i></a>
    <a href="http://instagram.com" class="icon-instagram redes"><i class="icofont-instagram"></i></a>
    <a href="http://youtube.com" class="icon-youtube redes"><i class="icofont-youtube-play"></i></a>
  </div>
</footer>
