<div class="container">
  <div class="header">
    <h3>Nosotros</h3>
  </div>

  <div class="grillas">

    <div class="nosotros" (click)="getNosotros()">Nosotros</div>
    <div class="mi-vi" (click)="getMisionVision()">Mision - Vision</div>
    <div class="creencias" (click)="getCreencias()">Creencias</div>
    <div class="confesion-fe" (click)="getConfesionFe()">Confesion de Fe</div>
    <div class="servicios-horarios" (click)="getHorariosServicios()">Horario de Servicios</div>

    <div class="content">
      <app-content-about [data]="dataView"></app-content-about>
    </div>
  </div>
</div>
