.container {
  width: 100%;
  height: 120vh;
}

.container .header {
  width: 100%;
  height: 30%;
}

.container .header h3 {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 20%;
}


.grillas div {
  border: solid 1px #000;
  text-align: center;
  padding: 10px;

}

.grillas {
  width: 80%;
  margin: -40% auto 5%;
  height: 100px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
}


.grillas .nosotros {
  grid-column: span 2;
}

.grillas .mi-vi {
  grid-column: span 2;
}

.grillas .creencias {
  grid-column: span 2;
}

.grillas .confesion-fe {
  grid-column: span 3;
}

.grillas .servicios-horarios {
  grid-column: span 3;
}

.grillas .content {
  height: auto;
  grid-column: span 6;

}

/*---------------------- Tamaño escritorio y tablets-----------------------*/
@media (min-width: 1024px) {
  .container .header {
    height: auto;
    padding-top: 10%;
  }

  .grillas {
    width: 70%;
    margin: 0 auto;
  }

  .grillas div {
    padding: 5%;
  }
}
