header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30%;
  background: #8395a7;
  z-index: 1;
}

header h3 {
  text-align: center;
  margin-top: 20%;
  font-size: 28px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  width: 100%;
  height: 120vh;
}

.grillas div {
  /* height: 50px; */
  border: solid 1px #000;
  text-align: center;
  padding: 10px;

}

.grillas {
  width: 80%;
  margin: 65% auto 5%;
  height: 100px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
}


.grillas .nosotros {
  grid-column: span 2;
}

.grillas .mi-vi {
  grid-column: span 2;
}

.grillas .creencias {
  grid-column: span 2;
}

.grillas .confesion-fe {
  grid-column: span 3;
}

.grillas .servicios-horarios {
  grid-column: span 3;
}

.grillas .content {
  height: auto;
  grid-column: span 6;

}
