@media(min-width: 1024px) {
  .container {
    width: 90%;
    /* border: 1px solid #000; */
    margin: 20% 5% 10% 0;
  }

  .other {
    margin: 40% auto;
  }

  .other h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
  }

  .other p {
    font-size: 20px;
    font-family: sans-serif;
  }
}
