<div class="container">
  <div class="consejo" *ngFor="let consejo of data | paginate: { itemsPerPage: 3, currentPage: p }">
    <div class="image">
      <img src="{{ consejo.urlImagen }}" alt="">
    </div>
    <div class="des-consejo">
      <h4>{{ consejo.titulo }} </h4>
      <p class="text-consejo">
        {{ consejo.texto }}
      </p>
      <a [routerLink]="['/details', consejo.id]" class="ver-mas">ver mas..</a>
      <cite>Autor: {{ consejo.autor }}</cite>
    </div>
  </div>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
