@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arapey&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');


  header {
    width: 300px;
    height: 150px;
    position: absolute;
    left: 50%;
    animation: titleDown 3s 1 forwards;
    z-index: 50;
    line-height: 16pt;
}

header h3 {
  font-size: 21px;
  font-weight: bold;
  color: #000;
  font-family: 'Great Vibes', cursive;
}

header h4 {
  font-size: 21px;
  font-weight: bold;
  color: #000;
  font-family: 'Dancing Script', cursive;

}

.banner {
  /* width: 100px; */
  height: 100px;
  position: absolute;
  left: 50%;
  animation: bannerUp 3s 1 forwards;
  z-index: 50;
}

.banner p {
  font-family: 'Arapey', serif;
  color: #000;
  font-size: 16px;
  font-weight: bold;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
               0px 8px 13px rgba(0, 0, 0, 0.1),
               0px 18px 23px rgba(0, 0, 0, 0.1);
}

.banner p span {
  font-size: 26px;
}


@keyframes titleDown {
  from {
    top: -10%;
    transform: translate(-40%, 10%);
  }

  to {
    top: 15%;
    transform: translate(-40%, -15%);
  }
}

@keyframes bannerUp {
  from {
    top: 120%;
    transform: translate(-50%, 120%);
  }

  to {
    top: 35%;
    transform: translate(-50%, -25%);
  }
}

/*---------------------- Tamaño escritorio y tablets-----------------------*/
@media (min-width: 1024px) {
  header {
    width: 70%;
    display: block;
    margin: auto;
    text-align: center;
  }

  header h3, h4 {
    font-size: 1.9rem;
  }

  .banner {
    width: 450px;
  }

  .banner p {
    font-size: 1.5rem;
  }

  .banner p span {
    font-size: 1.8rem;
  }

  @keyframes titleDown {
    from {
      top: -20%;
      transform: translate(-50%, 10%);
    }

    to {
      top: 20%;
      transform: translate(-50%, -15%);
    }
  }

  @keyframes bannerUp {
    from {
      top: 130%;
      transform: translate(-50%, 120%);
    }

    to {
      top: 45%;
      transform: translate(-50%, -25%);
    }
  }
}
