header {
  width: 300px;
  height: 150px;
  position: absolute;
  left: 50%;
  animation: titleDown 3s 1 forwards;
  z-index: 50;
}

header h3 {
  font-size: 21px;
  font-weight: bold;
  color: #1e272e;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.banner {
  position: absolute;
  width: 200px;
  height: 100px;
  left: 50%;
  animation: bannerUp 3s 1 forwards;
  z-index: 50;
}

.banner p {
  color: #1e272e;
  font-size: 16px;
  font-weight: bold;
}

@keyframes titleDown {
  from {
    top: -10%;
    transform: translate(-50%, 10%);
  }

  to {
    top: 15%;
    transform: translate(-50%, -15%);
  }
}

@keyframes bannerUp {
  from {
    top: 120%;
    transform: translate(-50%, 120%);
  }

  to {
    top: 25%;
    transform: translate(-50%, -25%);
  }
}

/*---------------------- Tamaño escritorio y tablets-----------------------*/
@media (min-width: 1024px) {
  header {
    width: 70%;
    display: block;
    margin: auto;
    text-align: center;
  }

  header h3 {
    font-size: 1.8rem;
  }

  .banner {
    width: 450px;
  }

  .banner p {
    font-size: 1.5rem;
  }

  @keyframes titleDown {
    from {
      top: -20%;
      transform: translate(-50%, 10%);
    }

    to {
      top: 20%;
      transform: translate(-50%, -15%);
    }
  }

  @keyframes bannerUp {
    from {
      top: 130%;
      transform: translate(-50%, 120%);
    }

    to {
      top: 35%;
      transform: translate(-50%, -25%);
    }
  }
}
