<div class="container" id="container">
  <div class="card" *ngFor="let activity of activities | paginate: { itemsPerPage: 2, currentPage:p }">
    <div class="card-img">
      <img src="{{activity.imagen}}" alt="">
    </div>
    <div class="card-body">
      <h4 class="title">{{ activity.nombre }}</h4>
      <div class="card-text">
        {{ activity.descripcion }}
        <p>
          <strong>{{ activity.dia }} {{ activity.fecha }}</strong>
        </p>
        <p>
          <strong>{{ activity.ubicacion.lugar }}</strong>
        </p>
        <p>
          <strong>{{ activity.ubicacion.direccion }}</strong>
        </p>
        <button>Ver mas..</button>
      </div>
    </div>
  </div>
  <div class="controls" id="control">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>

