.container {
  width: 100%;
  margin-bottom: 5%;
}

.container .banner {
  width: 100%;
  height: 100vh;
  background: url("/assets/imagenes/oracion_2.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  opacity: 0.5;
}

.container .banner-2 {
  display: none;
}

.versiculo {
  position: absolute;
  top: 20%;
  left: 8%;
  width: 300px;
  text-align: center;
}

h3 {
  color: #222;
  font-size: 36px;
}

.versiculo p {
  font-size: 20px;
  color: rgb(26, 17, 17);
}

.versiculo p cite {
  display: block;
}

.content {
  width: 80%;
  padding: 10%;
  margin-top: 10%;
}

.content .texto {
  font-size: 26px;
  margin: 30% 5%;
}

.form-group {
  width: 100%;
  margin: 15px auto;
}



.form-group input,
textarea {
  width: 100%;
  border: 1px solid black;
}

.form-group input {
  height: 25px;
}

form button {
  width: 100%;
  height: 50px;
  font-size: 21px;
  border-radius: 7px;
  background: rgb(0, 0, 0);
  opacity: .5;
  color: aliceblue;
}

.other-vers {
  display: none;
}

@media (min-width: 1024px) {
  .versiculo {
    left: 35%;
  }

  .container .banner-2 {
    display: block;
    width: 100%;
    height: 120vh;
    background: url("/assets/imagenes/oracion.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.5;
  }

  .texto {
    width: 600px;
    position: absolute;
    top: 80vh;
    left: 20%;
    font-size: 28px;
    margin: auto;
    font-family: Perpetua;
  }

  .other-vers {
    display: block;
  }

  .grid {
    display: grid;
    grid-template-columns: 1.4fr 0.6fr;
  }

  form {
    width: 70%;
  }

  .form-group input,
  textarea {
    width: 100%;
    border: 0.7px solid rgb(39, 39, 39);
    border-radius: 5px;
  }

  .form-group input {
    height: 40px;
  }

  textarea {
    width: 100%;
    resize: none;
    padding: 2%;
  }


  /*------------Placeholder ---------------------*/
  .form-group input,
  textarea::-webkit-input-placeholder {
    font-family: Garamond;
    font-size: 21px;
    padding: 10px;
  }

  .form-group input,
  textarea:-moz-placeholder {
    /* Firefox 18- */
    font-family: Garamond;
    font-size: 21px;
    padding: 10px;
  }

  .form-group input,
  textarea::-moz-placeholder {
    /* Firefox 19+ */
    font-family: Garamond;
    font-size: 21px;
    padding: 10px;
  }

  .form-group input,
  textarea:-ms-input-placeholder {
    font-family: Garamond;
    font-size: 21px;
    padding: 10px;
  }

  button:hover {
    cursor: pointer;
    background: #fff;
    color: #000;
  }
}
