<app-menu></app-menu>
<div class="container" id="container">

  <div class="banner">
  </div>

  <div class="banner-2">
  </div>

  <!-------------------------------------------------->
  <div class="versiculo">
    <h3>
      Oramos por ti
    </h3>
    <p>
      {{ versiculoCabecera.versiculo }}
      <cite> {{ versiculoCabecera.pasaje }} </cite>
    </p>
  </div>
  <!-------------------------------------------------->


  <!-------------------------------------------------->
  <div class="content">

    <p class="texto">
      Si en este momento de tu vida estás necesitando de una oración,
      queremos interceder por ti para que Dios pueda hacer ese milagro
      que necesitas para tu vida.
    </p>
    <div class="grid">

      <form [formGroup]="formGroup">
        <div class="form-group">
          <input type="text" name="nombre" id="nombre" autocomplete="off" placeholder="Nombre" formControlName="name">
          <div *ngIf="formGroup.controls['name'].invalid && formGroup.controls['name'].dirty" class="alert">
            <span *ngIf="formGroup.controls['name'].errors.required">El nombre es requerido</span>
          </div>
        </div>

        <div class="form-group">
          <input type="email" name="correo" id="correo" autocomplete="off" placeholder="Correo" formControlName="email">
          <div *ngIf="formGroup.controls['email'].invalid && formGroup.controls['email'].dirty">
            <div *ngIf="formGroup.controls['email'].errors.required" class="alert">
              El correo es requerido
            </div>
            <div *ngIf="formGroup.controls['email'].errors.email" class="alert">
              No parece un correo valido
            </div>
          </div>
        </div>

        <div class="form-group">
          <textarea name="mensaje" id="mensaje" cols="35" rows="12" placeholder="Escriba aqui su petición de oración.."
            formControlName="peticion"></textarea>
          <div *ngIf="formGroup.controls['peticion'].invalid && formGroup.controls['peticion'].dirty" class="alert">
            <span *ngIf="formGroup.controls['peticion'].errors.required">Este campo es requerido</span>
          </div>
        </div>
        <button [disabled]="!formGroup.valid" (click)="addData()">Enviar</button>
      </form>

      <div class="other-vers">
        <div class="vers" *ngFor="let versiculo of versiculos">

          <p>
            {{ versiculo.versiculo }}
            <br>
            <cite>{{ versiculo.pasaje }}</cite>
          </p>
        </div>

      </div>
    </div>
  </div>
  <!-------------------------------------------------->


</div>

<app-footer></app-footer>
