<app-menu></app-menu>
<div class="container">

  <div class="banner">
  </div>

  <!-------------------------------------------------->
  <div class="versiculo">
    <h3>
      Oramos por ti
    </h3>
    <p>
      Confesaos vuestras ofensas unos a otros, y orad unos por otros, para que seáis sanados. La oración eficaz del
      justo puede mucho.
      <cite>Santiago 5:16</cite>
    </p>
  </div>
  <!-------------------------------------------------->


  <!-------------------------------------------------->
  <div class="content">

    <p class="texto">
      Si en este momento de tu vida estás necesitando de una oración,
      queremos interceder por ti para que Dios pueda hacer ese milagro
      que necesitas para tu vida.
    </p>

    <form>

      <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" name="nombre" id="nombre" autocomplete="off">
      </div>

      <div class="form-group">
        <label for="correo">Correo</label>
        <input type="text" name="correo" id="correo" autocomplete="off">
      </div>

      <div class="form-group">
        <label for="mensaje"></label>
        <textarea name="mensaje" id="mensaje" cols="35" rows="12"></textarea>
      </div>
      <button (click)="addData()">Enviar</button>
    </form>
  </div>
  <!-------------------------------------------------->


</div>

<app-footer></app-footer>
