<div class="container" >
  <!-- <section class="articles"> -->
  <section class="articles" *ngFor="let article of articles | paginate: { itemsPerPage: 3, currentPage: p }">
    <div class="image">
      <img src="{{ article.urlImagen }}" alt="">
    </div>
    <div class="content">

      <div class="title">
        <h4> {{ article.titulo }}  </h4>
      </div>

      <p class="text">
        {{ article.texto }}
      </p>
      <a [routerLink]="['/blog', article.id]">leer mas..</a>
      <cite> {{ article.autor }} </cite>

      <span> {{ article.fecha }} </span>

    </div>
  </section>
  <div class="page">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
  <!-- <strong *ngIf="dataArticle != undefined">{{dataArticle.numArticles}} {{ refresh() }} </strong> -->
</div>

