<div class="container" >
  <section class="articles" *ngFor="let article of articlesView">
    <div class="image">
      <img src="{{ article.urlImagen }}" alt="">
    </div>
    <div class="content">

      <div class="title">
        <h4> {{ article.titulo }} </h4>
      </div>

      <p class="text">
        {{ article.texto }}
      </p>
      <a [routerLink]="['/blog', article.id]">leer mas..</a>
      <cite> {{ article.autor }} </cite>

      <span> {{ article.fecha }} </span>

    </div>
  </section>
  <strong *ngIf="dataArticle != undefined">{{dataArticle.numArticles}} {{ refresh() }} </strong>
</div>

