.container {
  width: 100%;
  height: auto;
  margin-bottom: 20%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.articles section{
  width: 80%;
  height: 60vh;
  margin: 10% auto;
}

.image img {
  position: absolute;
  width: 80%;
  height: 60vh;
  opacity: 0.6;
}

.content {
  position: relative;
  top: 0px;
  left: 0px;
  padding: 2%;
}

.title h4 {
  margin: 2% 10%;
  font-size: 1.75rem;
}

.articles .text {
  font-size: 17px;
  padding: 0 5%;
  height: 140px;
  overflow: hidden;
}

.articles a {
  font-size: 19px;
  font-weight: bold;
  margin-left: 6%;
  text-decoration: none;
}

.articles cite,
span {
  display: block;
  margin-left: 17px;
}

.articles cite {
  margin-top: 15px;
}

.versos {
  display: none;
}

app-pagination {
  display: block;
  margin: auto;
}

/*---------------------- Tamaño escritorio y tablets-----------------------*/
@media (min-width: 1024px) {
  .container {
    display: grid;
    grid-template-columns: 0.7fr 0.3fr;
    grid-template-rows: 100vh;
  }

  .articles section{
    width: 70%;
    height: 45vh;
  }
  .articles {
    overflow: scroll;
    margin: 0 5%;
    /* border: 0.5px solid #555; */
  }

  .content {
    height: 100%;
  }

  .versos {
    display: initial;
    overflow: scroll;
    /* background: rgba(177, 180, 177, .3); */
    margin: 10% 5%;
  }

  .versos::-webkit-scrollbar {
    width: 8px; /* Tamaño del scroll en vertical */
    height: 8px; /* Tamaño del scroll en horizontal */
    display: none; /* Ocultar scroll */
  }

  .articles::-webkit-scrollbar {
    width: 8px; /* Tamaño del scroll en vertical */
    height: 8px; /* Tamaño del scroll en horizontal */
    display: none; /* Ocultar scroll */
  }


  .versos p {
    padding: 5% 10%;
    font-size: 24px;
  }

  .container .page {
    width: 80%;
    display: block;
    margin: auto;
  }
}
