<div class="container" >
  <section class="articles" *ngFor="let article of articles">
    <div class="image">
      <img src="{{ article.urlImagen }}" alt="">
    </div>
    <div class="content">

      <div class="title">
        <h4> {{ article.titulo }} </h4>
      </div>

      <p class="text">
        {{ article.texto }}
      </p>
      <a href="http://">leer mas..</a>
      <cite> {{ article.autor }} </cite>

      <span> {{ article.fecha }} </span>

    </div>
  </section>

  <!-- <app-pagination [cantidadArticles]="articles.length" (mensajeHijo)="numArticles($event)"></app-pagination> -->
</div>

