<div class="container">

  <div *ngIf="data != undefined">
    <div [ngSwitch]="testData(data)">

      <div *ngSwitchCase="'all'" class="all">
        <h5>{{ titulo }}</h5>
        <p> {{ getAll(dataView) }}</p>
      </div>

      <div *ngSwitchCase="'servicios'" class="servicios">
        <ul>
          <li class="serv-title"><strong>Horarios Reuniones</strong></li>
          <li class="serv-item">
            {{ getServicios(dataView).cultoOracion.titulo }}
          </li>
          <li class="item">
            {{ getServicios(dataView).cultoOracion.dia }} {{ getServicios(dataView).cultoOracion.horario }}
          </li>

          <li class="serv-item">
            {{ getServicios(dataView).cultoJovenes.titulo }}
          </li>
          <li class="item">
            {{ getServicios(dataView).cultoJovenes.dia }} {{ getServicios(dataView).cultoJovenes.horario }}
          </li>

          <li class="serv-item">
            {{ getServicios(dataView).escuelaBiblica.titulo }}
          </li>
          <li class="item">
            {{ getServicios(dataView).escuelaBiblica.dia }} {{ getServicios(dataView).escuelaBiblica.horario }}
          </li>

          <li class="serv-item">
            {{ getServicios(dataView).cultoCentral.titulo }}
          </li>
          <li class="item">
            {{ getServicios(dataView).cultoCentral.dia }} {{ getServicios(dataView).cultoCentral.horario }}
          </li>
        </ul>
      </div>

      <div *ngSwitchCase="'objetivos'" class="objetivos">
        <div class="mision">
          <h5>Misión</h5>
          <p>
            {{ getObjetivos(dataView).mision }}
          </p>
        </div>

        <div class="vision">
          <h5>Visión</h5>
          <p>
            {{ getObjetivos(dataView).vision }}
          </p>
        </div>

        <div class="valores">
          <h5>Valores</h5>
          <ul>
            <li class="item" *ngFor="let valor of getObjetivos(dataView).valores">
              {{ valor }}
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>

</div>
