<div class="header">
  <app-menu></app-menu>
</div>

<div class="container">

  <!------------------------------------ Articulo  ---------------------------------------------->
  <!-------------------------------------------------------------------------------------------->
  <div class="article">
    <section>
      <h3>Titulo</h3>
      <div class="img">
        <img src="/assets/imagenes/oracion.jpg" alt="" srcset="">
      </div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit deleniti totam, id sit harum nihil dolorem!
        Vel libero ad earum itaque. Dignissimos magni facilis accusamus labore qui consectetur nesciunt accusantium.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit voluptatibus ipsam numquam optio quidem tempora eaque quod. Commodi facere quis sed veritatis placeat nulla cupiditate nisi rerum corporis, neque perspiciatis possimus consectetur deleniti odio minus, officiis recusandae eveniet in similique magni. Id placeat necessitatibus quasi nihil quas maxime, illum similique?
      </p>

      <cite>Autor</cite>
      <em>10-10-20</em>

    </section>

  <!------------------------------------ Formulario de comentario  ---------------------------------------------->
  <!-------------------------------------------------------------------------------------------->
    <form>
      <div class="form-group">
        <textarea name="" id="" cols="30" rows="10" placeholder="Comentario.."></textarea>
      </div>
      <div class="form-group">
        <input type="text" name="" id="" placeholder="Nombre">
      </div>
      <div class="form-group">
        <button>Enviar</button>
      </div>
    </form>
  </div>


  <!------------------------------------ Comentarios  ---------------------------------------------->
  <!-------------------------------------------------------------------------------------------->
  <div class="comments">
    <div class="comment">
      <em>
        "Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore excepturi cumque laboriosam quos at tempora
        itaque eaque dolores. Sunt, at."
      </em>
      <cite>Lorem, ipsum.</cite>
    </div>

    <div class="comment">
      <em>
        "Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore excepturi cumque laboriosam quos at tempora
        itaque eaque dolores. Sunt, at."
      </em>
      <cite>Lorem, ipsum.</cite>
    </div>

    <div class="comment">
      <em>
        "Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore excepturi cumque laboriosam quos at tempora
        itaque eaque dolores. Sunt, at."
      </em>
      <cite>Lorem, ipsum.</cite>
    </div>
  </div>


  <!------------------------------------ Otros articulos  ---------------------------------------------->
  <!-------------------------------------------------------------------------------------------->
  <div class="other">
    <div class="other-articles">

      <h3>Titulo</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit deleniti totam, id sit harum nihil dolorem!
        Vel libero ad earum itaque. Dignissimos magni facilis accusamus labore qui consectetur nesciunt accusantium.
      </p>

      <a href="#">Ver mas</a>
    </div>

    <div class="other-articles">

      <h3>Titulo</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit deleniti totam, id sit harum nihil dolorem!
        Vel libero ad earum itaque. Dignissimos magni facilis accusamus labore qui consectetur nesciunt accusantium.
      </p>

      <a href="#">Ver mas</a>
    </div>

    <div class="other-articles">

      <h3>Titulo</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit deleniti totam, id sit harum nihil dolorem!
        Vel libero ad earum itaque. Dignissimos magni facilis accusamus labore qui consectetur nesciunt accusantium.
      </p>

      <a href="#">Ver mas</a>
    </div>
  </div>

</div>
<div class="footer">
  <app-footer></app-footer>
</div>
