.container  {
  width: 100%;
  margin-top: 10%;
}

.container .blog {
  width: 80%;
  padding: 10%;
}

.container .blog .titulo {
  text-align: center;
}

.blog .image img {
  width: 100%;
}

.blog .text {
  font-size: 1.5rem;
  font-family: 'Roboto Slab',serif;
  font-weight: 315;
  line-height: 1.625;
}


