.header {
  width: 100%;
  margin-top: -10%;
  padding-top: 10%;
}

.container  {
  width: 100%;
}

.container .article {
  margin: 5% 0;
  width: 80%;
  padding: 10%;
}

section h3 {
  text-align: center;
}

section .img img {
  width: 100%;
}

section p {
  height: auto;
  font-size: 1.5rem;
  font-family: 'Roboto Slab',serif;
  font-weight: 315;
  line-height: 1.625;
}


/*------------------ Formulario -------------------------*/
/*---------------------------------------------------------*/

form {
  width: 80%;
  margin: 20% 0;
}


/*------------------ Otros Articulos -------------------------*/
/*---------------------------------------------------------*/
.other {
  width: 90%;
  margin: 20% auto;
}
