<div class="header">
  <app-menu></app-menu>
</div>

<div class="container">
  <div class="article">
    <section>
      <h3>Titulo</h3>
      <div class="img">
        <img src="/assets/imagenes/oracion.jpg" alt="" srcset="">
      </div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit deleniti totam, id sit harum nihil dolorem! Vel libero ad earum itaque. Dignissimos magni facilis accusamus labore qui consectetur nesciunt accusantium.
      </p>

      <em>Titulo</em>
    </section>

    <form>
      <div class="form-group">
        <textarea name="" id="" cols="30" rows="10" placeholder="Comentario.."></textarea>
      </div>
      <div class="form-group">
        <input type="text" name="" id="" placeholder="Nombre">
      </div>
      <button>Enviar</button>
    </form>
  </div>

  <div class="other">
    <h3>Titulo</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit deleniti totam, id sit harum nihil dolorem! Vel libero ad earum itaque. Dignissimos magni facilis accusamus labore qui consectetur nesciunt accusantium.
      </p>

      <a href="#">Ver mas</a>
  </div>
</div>
<app-footer></app-footer>

