.header {
  width: 100%;
  margin-top: -10%;
  padding-top: 10%;
}

.container {
  width: 100%;
  font-family: "Lucida Bright";
}

.container .article {
  margin: 5% 0;
  width: 80%;
  padding: 10%;
}

section h3 {
  text-align: center;
}

section .img img {
  width: 100%;
}

section p {
  height: auto;
  font-size: 1.5rem;
  font-family: "Roboto Slab", serif;
  font-weight: 315;
  line-height: 1.625;
}

/*------------------ Formulario -------------------------*/
/*---------------------------------------------------------*/

form {
  width: 100%;
  margin: 15% auto;
}

.form-group {
  width: 90%;
  margin: 15px auto;
}

.form-group textarea,
input {
  width: 90%;
  border-radius: 5px;
}

.form-group input {
  height: 30px;
}

.form-group button {
  width: 90%;
  height: 35px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  padding: 5px;
}

/*------------------ Comentarios -------------------------*/
/*---------------------------------------------------------*/
.comment {
  width: 60%;
  margin: auto;
}

.comment em,
cite {
  display: block;
  padding-bottom: 10px;
}

/*------------------ Otros Articulos -------------------------*/
/*---------------------------------------------------------*/
.other {
  width: 90%;
  margin: 20% auto;
}

.other-articles {
  margin: 5% 10% 10%;
}

@media (min-width: 1024px) {
  .container {
    display: grid;
    grid-template-columns: 1.4fr 0.6fr ;
    grid-template-rows: 1fr auto;
  }

  .container .article {
    margin: 5% 20%;
  }

  .article section {
    width: 65%;
  }

  form {
    width: 70%;
    margin-left: 0;
  }

  .form-group {
    width: 100%;
  }

  .comments {
    grid-area: 2 / 1 / 2 / -1;
    background: rgba(200, 236, 245, 0.333);
    width: 100%;
    padding: 8% 0;
    margin-top: -15%;
  }

  .comment {
    width: 40%;
    padding: 3% 0;
    margin-left: 20%;
  }

  .other {
    grid-area: 1 / 2 / 2 / 2;
    grid-row: 1 / span 2;
    padding: 25% 10% 0 0;
  }

  .other-articles {
    width: 60%;
  }

  .footer {
    margin-top: -10%;
  }
}
