.banner {
  width: 80%;
  height: 20%;
  margin: 20% auto 10%;
  color: #222;
  line-height: 25px;
}

.banner .title {
  text-align: center;
  margin: 10%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 23px;
}

@media(min-width:1024px) {
  .banner {
    width: 100%;
    margin: -10% 0;
    height: 130vh;
    background: url("/assets/imagenes/consejos.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    opacity: .7;
  }

  .banner .content {
    width: 450px;
    height: auto;
    position: absolute;
    top: 25%;
    left: 40%;
    overflow: hidden;
    color: rgb(0, 0, 0);
  }

  .banner .content .title {
    text-align: right;
    font-size: 28px;
  }

  .banner .content .versiculo {
    font-weight: bold;
  }


}
