* {
  margin: 0;
  padding: 0;
}

.header {
  display: initial;
  position: fixed;
  top: 10px;
  left: 10px;
  width: 100%;
  height: auto;
  padding-bottom: 2%;
  border-bottom: solid 1px #000;
  z-index: 50;
}
label img {
  width: 40px;
}

input {
  display: none;
}

.titulo {
  margin-top: -10%;
  margin-left: 15%;
  font-size: 18pt/23pt;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main {
  position: absolute;
  width: 80%;
  height: auto;
  top: 0;
  left: 0;
  background: #000;
  position: fixed;
  padding: 5%;
  margin-left: -100%;
  z-index: 100;
}

.main ul li {
  list-style: none;
  font-size: 18px;
  font-weight: bold;
  border-bottom: solid 1px #fff;
  padding: 5% 0;
  color: #fff;
}

.main ul .active {
  color: rgb(252, 0, 0);
}
.ocultaHeader {
  display: none;
}

.main label {
  width: 40px;
  height: 40px;
  z-index: 100;
  top: 10px;
  right: 10px;
  color: red;
  font-size: 24px;
  font-weight: bold;
}

.mostrarMain {
  animation: mostrar 1s 1 forwards;
}

.ocultarMain {
  animation: ocultar 1s 1 forwards;
}

.mostrarIconoMenu {
  display: none;
  transition: 1s all;
}
.ocultarIconoMenu {
  display: inherit;
  transition: 1s all;
}

.mostrarIconClose {
  display: inherit;
}
.ocultarIconClose {
  display: none;
}


@keyframes ocultar {
  from {
    margin-left: 0;
  }
  to {
    margin-left: -100%;
  }
}

@keyframes mostrar {
  from {
    margin-left: -100%;
  }
  to {
    margin-left: 0;
  }
}

/*---------------------- Tamaño escritorio y tablets-----------------------*/
@media (min-width: 1024px) {
  .header {
    padding-bottom: 4%;
    opacity: .5;
    margin-left: -10px;
    margin-top: -10px;
    background: rgb(0, 0, 0);
    height: 3%;
  }


  label img {
    display: none;
  }

  .main-desktop {
    position: fixed;
    z-index: 100;
    /* margin-top: -10%; */
  }

  .main-desktop ul {
    margin: 3% 0%;
  }

  .main-desktop ul li {
    display: inline;
    margin: 0% 10px;
    font-size: 21px;
    font-weight: bold;
    color: rgb(145, 143, 143);
    transition: .5s all;
  }

  .main-desktop ul .active {
    color: #fff;
  }

  .main-desktop ul li:hover {
    cursor: pointer;
    color: rgb(255, 255, 255);
    padding: 5px;
    border-top: solid 1px rgb(255, 255, 255);
    border-bottom: solid 1px rgb(255, 255, 255);
    transition: .5s all;
  }
}
