<aside>
  <section>
    <h3>Maraton Nacional de Oracion</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat magni expedita numquam quod, rem minus odio a. Soluta itaque consequatur quas fuga recusandae error, nesciunt saepe impedit neque voluptatum distinctio!
    </p>
    <a href="#">lorem 1235</a>
  </section>

  <section>
    <h3>Maraton Nacional de Oracion</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat magni expedita numquam quod, rem minus odio a. Soluta itaque consequatur quas fuga recusandae error, nesciunt saepe impedit neque voluptatum distinctio!
    </p>
    <a href="#">lorem 1235</a>
  </section>

  <section>
    <h3>Maraton Nacional de Oracion</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat magni expedita numquam quod, rem minus odio a. Soluta itaque consequatur quas fuga recusandae error, nesciunt saepe impedit neque voluptatum distinctio!
    </p>
    <a href="#">lorem 1235</a>
  </section>

  <section>
    <h3>Maraton Nacional de Oracion</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat magni expedita numquam quod, rem minus odio a. Soluta itaque consequatur quas fuga recusandae error, nesciunt saepe impedit neque voluptatum distinctio!
    </p>
    <a href="#">lorem 1235</a>
  </section>

  <section>
    <h3>Maraton Nacional de Oracion</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat magni expedita numquam quod, rem minus odio a. Soluta itaque consequatur quas fuga recusandae error, nesciunt saepe impedit neque voluptatum distinctio!
    </p>
    <a href="#">lorem 1235</a>
  </section>
</aside>
